.Header{
    height: 30px;
    background-color: #323338;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.toastIcon{
    height: 30px;
    margin-right: 6px;
}

.headerLeft{
    display: inline-flex;
}

.headerLinks{
    font-weight: normal;
    text-align: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.headerLinks * {
    text-decoration: none;
    border: none;
    padding: 0px;
    font-size: 18px;
    outline: none;
}

.headerLinks *:hover {
    color: white;
    cursor: pointer;
}

.githubLink{
    color:#8e959e;
    text-decoration: none;
}