body{
    margin: 0px;   
    font-family: -apple-system, Roboto, sans-serif, serif;
    background-color: #262729;
}

*{
    color: #8e959e;
}

.discordButton{
    height: 30px;
    align-items: center;
    text-align: center;
    display: inline-flex;
    border: none;
    color: white;
    background-color: #e2c113;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
}

.discordLogo{
    height: 100%;
    margin-right: 10px;
}

.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    background-color: #323338;
}

.window{
    height: 100vh;
}