body{
    margin: 0px;   
    font-family: -apple-system, Roboto, sans-serif, serif;
    background-color: #262729;
}

*{
    color: #8e959e;
}

.bigToastImg{
    width: 50%;
    margin: 50px;
}

.discordButton{
    height: 30px;
    width: 230px;
    margin: auto;
    align-items: center;
    text-align: center;
    display: block;
    border: none;
    background-color: #e2c113;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
}

.discordLogo{
    height: 100%;
    margin-right: 10px;
    vertical-align: middle;
}

.discordButtonText{
    vertical-align: middle;
    color: white;
}

.middle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 60px;
}

.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 24%;
    background-color: #323338;
}

.footerSection{
    margin: 30px;

}

.window{
    height: 100vh;
}